[Unit]
Description=RFDaemon
Requires=ico300-com.service
After=ico300-com.service

[Service]
Type=simple
ExecStart=/usr/local/bin/rfdaemon --noconsole --config /etc/rfdaemon/applications.json

[Install]
WantedBy=multi-user.target
